---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
---

<Layout title="Dashboard" description="Dashboard">
  <Section>
    <h1 class="text-3xl font-bold">Dashboard</h1>
  </Section>
</Layout>
