---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
---

<Layout
  title="Aviso de Privacidad"
  description="Encuentra nuestro aviso de privacidad completo en esta sección."
>
  <Section>
    <div class="space-y-8">
      <div>
        <h1
          class="text-balance pt-16 font-medium leading-none tracking-tighter ~text-2xl/3xl"
        >
          Aviso de Privacidad
        </h1>
        <p class="mt-1 text-xs opacity-60">
          <strong class="font-medium">Última revisión:</strong> 25 de Enero de 2025
        </p>
        <p class="mt-2">
          En La Postreria 77 queremos que te sientas en confianza; es por eso
          que nuestras prácticas de uso de datos siempre serán 100%
          transparentes hacia ti. Como parte de nuestro esfuerzo por proteger su
          privacidad y cumplir con las leyes de privacidad y protección de datos
          aplicables, nos esforzamos por considerar todas nuestras prácticas de
          uso de datos a través de los principios reconocidos de minimización de
          datos, recopilación limitada y uso limitado, entre otras áreas clave
          que se abordan a continuación. Lo hacemos para respetar y mantener su
          confianza. Creemos que cuidar de usted incluye cuidar de sus datos y
          su privacidad.
        </p>
      </div>

      <div>
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Resúmen
        </h2>
        <p class="mt-2">
          Esta Declaración de Privacidad de La Postreria 77 describe los tipos
          de información personal que recogemos, cómo la utilizamos, cómo y
          cuándo puede ser compartida, y los derechos y opciones que usted tiene
          con respecto a su información. También explica cómo nos comunicamos
          con usted y cómo puede hacernos peticiones o consultas sobre su
          información. Nuestro objetivo es ayudarle a entender cómo utilizamos
          su información para mejorar nuestros productos, servicios, marketing e
          interacciones con usted, como parte de nuestro compromiso de mantener
          su confianza. Gracias por tomarse el tiempo de leer y comprender
          nuestras prácticas relacionadas con los datos y la privacidad.
          <br />
          <br />
          Esta declaración de privacidad, así como nuestras condiciones de uso y
          otras políticas importantes, están disponibles en nuestra página de políticas
          en línea. Si no está de acuerdo con nuestras condiciones de uso o con esta
          declaración de privacidad, deje de utilizar nuestros sitios web inmediatamente.
        </p>
      </div>

      <div>
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Contenido
        </h2>
        <p class="mt-2">
          Puede saltar a las secciones específicas de nuestro Aviso de
          Privacidad seleccionando cualquiera de los apartados que aparecen a
          continuación.
        </p>
        <ul class="mt-4 list-disc space-y-2 pl-4">
          <li
            class="text-sm underline opacity-60 hover:text-brand hover:opacity-100"
          >
            <a href="#aplicabilidad">Aplicabilidad y alcance</a>
          </li>
          <li
            class="text-sm underline opacity-60 hover:text-brand hover:opacity-100"
          >
            <a href="#actualizaciones"
              >Actualizaciones de este Aviso de Privacidad</a
            >
          </li>
          <li
            class="text-sm underline opacity-60 hover:text-brand hover:opacity-100"
          >
            <a href="#recoleccion">Información que recolectamos</a>
          </li>
          <li
            class="text-sm underline opacity-60 hover:text-brand hover:opacity-100"
          >
            <a href="#uso">Como utilizamos su información</a>
          </li>
          <li
            class="text-sm underline opacity-60 hover:text-brand hover:opacity-100"
          >
            <a href="#compartir">Cómo compartimos su información con terceros</a
            >
          </li>
          <li
            class="text-sm underline opacity-60 hover:text-brand hover:opacity-100"
          >
            <a href="#gestionar"
              >Como gestionar su información y sus derechos de privacidad</a
            >
          </li>
          <li
            class="text-sm underline opacity-60 hover:text-brand hover:opacity-100"
          >
            <a href="#contacto">Contacto con nosotros</a>
          </li>
        </ul>
      </div>
      <div id="aplicabilidad" class="scroll-mt-36">
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Aplicabilidad y alcance
        </h2>
        <p class="mt-2">
          Este Aviso de Privacidad ("Aviso") se aplica a los sitios web ubicados
          en <a href="http://lapostreria77.com">lapostreria77.com</a> y a cualquier
          otro sitio web o aplicación que sea propiedad de las marcas o productos
          de La Postreria 77 y que dirija al espectador o usuario a este Aviso.
          <br />
          <br />
          En este Aviso, los términos "La Postreria 77", "nosotros" y "nos" se refieren
          a La Postreria 77 y a sus respectivas subsidiarias y empresas afiliadas.
          Tenga en cuenta que los sitios web que son propiedad de La Postreria 77
          y están operados por ella pueden contener enlaces a propiedades digitales
          que son propiedad de otras empresas y están operadas por ellas. Esta Declaración
          no se aplica a los sitios web y servicios que son propiedad y están operados
          por terceros no afiliados.
        </p>
      </div>
      <div id="actualizaciones" class="scroll-mt-36">
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Actualizaciones de este Aviso de Privacidad
        </h2>
        <p class="mt-2">
          Este Aviso entró en vigor en la fecha de "Última revisión" indicada en
          la parte superior de esta página. Podemos actualizar este Aviso de vez
          en cuando. Le notificaremos cualquier modificación de este Aviso que
          pueda afectar materialmente a sus derechos o al modo en que utilizamos
          o revelamos su información personal antes de que el cambio entre en
          vigor mediante un mensaje en este sitio web. Le animamos a que busque
          actualizaciones y cambios en este Aviso comprobando la fecha de
          "Última revisión" cuando acceda a nuestros sitios web y aplicaciones
          móviles.
        </p>
      </div>
      <div id="recoleccion" class="scroll-mt-36">
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Información que recolectamos
        </h2>
        <p class="mt-2">
          Cuando usted utiliza nuestros sitios web y aplicaciones móviles o
          visita una de nuestras tiendas, recopilamos información sobre usted y
          los servicios que utiliza.
          <br />
          <br />
          La información que recogemos se divide en tres categorías principales:
        </p>
        <ol class="mt-4 list-decimal space-y-2 pl-4 opacity-60">
          <li>Información que usted nos proporciona voluntariamente;</li>
          <li>Información que recogemos de usted automáticamente;</li>
          <li>Información que recogemos de otras fuentes.</li>
        </ol>
        <p class="mt-4">
          Algunos ejemplos de cuándo recopilamos esta información incluyen
          cuando usted realiza un pedido a través de nuestras redes sociales o
          llamando a nuestras sucursales; cuando realiza una compra en nuestras
          tiendas; o participa en una encuesta o promoción.
          <br />
          <br />
          Parte de la información que recopilamos se proporciona cuando usted utiliza
          nuestros servicios, por ejemplo, cuando realiza un pedido a través de nuestras
          redes sociales o llamando a nuestras tiendas, paga productos; reserva una
          visita a nuestras tiendas; o envía formularios en línea a través de nuestros
          sitios web o aplicaciones móviles.
          <br />
          <br />
          Esto puede incluir su nombre y apellidos, dirección de correo electrónico,
          número de teléfono, información de la cuenta financiera, como el número
          de la tarjeta de crédito, el día y el mes de su cumpleaños, información
          demográfica (como su sexo) y cualquier otra información que nos proporcione,
          como para participar en una promoción o para ponerse en contacto con el
          servicio de atención al cliente de La Postreria 77.
          <br />
          <br />
          En algunos casos, también puede proporcionarnos información sobre otras
          personas, como el nombre, el número de teléfono y la dirección de correo
          electrónico, como cuando realiza un pedido para alguien más.
          <br />
          <br />
          Información de compra: Podemos recopilar información sobre sus transacciones
          en nuestras tiendas, incluidos los productos que compra y la frecuencia
          con la que los compra.
        </p>
      </div>
      <div id="uso" class="scroll-mt-36">
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Como utilizamos su información
        </h2>
        <p class="mt-2">
          Utilizamos su información con fines empresariales y comerciales,
          incluyendo la provisión de los productos y servicios que usted
          solicita, la realización de funciones de atención al cliente, la
          seguridad y la prevención del fraude, la comercialización y la
          promoción, y el análisis del sitio web y de la aplicación móvil.
          <br />
          <br />
          Podemos utilizar la información que recopilamos sobre usted de diversas
          maneras, entre ellas:
        </p>
        <ol class="mt-4 list-decimal space-y-2 pl-4">
          <li>
            Para prestar nuestros servicios <br />
            <span class="opacity-60">
              Procesamos cierta información personal cuando usted accede o
              utiliza nuestros servicios para registrar o concretar una orden;
              facilitar el servicio de cobro a través de tarjetas de
              débito/crédito.
            </span>
          </li>
          <li>
            Para comunicarnos con usted<br />
            <span class="opacity-60">
              Procesamos cierta información para comunicarnos con usted en
              relación sus compras, nuestros servicios, nuestro marketing y sus
              solicitudes, incluyendo comunicarnos con usted sobre pedidos,
              compras, servicios, devoluciones y sorteos; responder a sus
              consultas de servicio al cliente y a sus solicitudes de
              información; comunicarnos con usted sobre nuestras marcas,
              productos, eventos u otros fines promocionales.
            </span>
          </li>
          <li>
            Con su consentimiento<br />
            <span class="opacity-60">
              Podemos procesar cierta información personal para cumplir con
              cualquier otro propósito comercial o empresarial bajo su dirección
              o con su consentimiento.
            </span>
          </li>
        </ol>
      </div>
      <div id="compartir" class="scroll-mt-36">
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Como compartimos su información con terceros
        </h2>
        <p class="mt-2">
          No compartimos su información con prestadores de servicio externos a
          La Postreria 77 salvo bajo los siguientes conceptos:
        </p>
        <ol class="mt-4 list-decimal space-y-2 pl-4">
          <li>
            Cuando la divulgación nos ayuda a proteger la seguridad y los
            intereses legales
            <br />
            <span class="opacity-60">
              Podemos compartir su información si creemos que la divulgación es
              requerida por la ley, si creemos que la divulgación es necesaria
              para hacer cumplir nuestros acuerdos o políticas, o si creemos que
              la divulgación nos ayudará a proteger los derechos, la propiedad,
              la salud o la seguridad de La Postreria 77 o de nuestros clientes
              o socios.
            </span>
          </li>
          <li>
            Cuando usted da su consentimiento
            <br />
            <span class="opacity-60">
              Podemos compartir información sobre usted con otras empresas si
              usted nos da permiso o nos indica que compartamos la información.
            </span>
          </li>
          <li>
            Con su consentimiento<br />
            <span class="opacity-60">
              Podemos procesar cierta información personal para cumplir con
              cualquier otro propósito comercial o empresarial bajo su dirección
              o con su consentimiento.
            </span>
          </li>
        </ol>
      </div>
      <div id="gestionar" class="scroll-mt-36">
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Cómo gestionar su información y sus derechos de privacidad
        </h2>
        <p class="mt-2">
          Si lo solicita, le proporcionaremos información sobre si tenemos
          información personal suya y cómo se utiliza. Usted puede acceder,
          corregir o eliminar su información personal de nuestros registros
          poniéndose en contacto con nosotros tal y como se describe en la
          sección Contáctenos más adelante.
        </p>
      </div>
      <div id="contacto" class="scroll-mt-36">
        <h2 class="font-medium leading-none tracking-tight ~text-xl/2xl">
          Contacto con nosotros
        </h2>
        <p class="mt-2">
          Agradecemos sus preguntas, comentarios e inquietudes sobre la
          privacidad. Puede ponerse en contacto con nosotros a través de
          nuestras redes sociales; nuestra página web
          <a href="https://lapostreria77.com" class="underline"
            >https://lapostreria77.com</a
          >; mandando un correo electrónico a la dirección
          <a href="mailto:contacto@lapostreria77.com" class="underline"
            >contacto@lapostreria77.com</a
          >; o por teléfono llamando al <a
            href="tel:+529124744950"
            class="underline">+528124744950.</a
          >
        </p>
      </div>
      <ul class="mt-4 list-disc space-y-2 pl-4">
        <li>País - México</li>
        <li>Nombre de la entidad - La Postreria 77</li>
        <li>Dirección de la entidad - Prolongación Rio Nazas 128</li>
        <li>
          Número de Teléfono - <a href="tel:+529124744950" class="underline"
            >+528124744950</a
          >
        </li>
        <li>Horario de oficina - Lunes a Viernes de 9:00 a 17:00</li>
        <li>
          Responsable del manejo de datos personales: David Ortega Tijerina
        </li>
      </ul>
    </div>
  </Section>
</Layout>
