---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import CartList from "@/components/cart/CartList";
import { CheckoutForm } from "@/components/checkout/CheckoutForm";
/* import CheckoutForm from "@/components/checkout/CheckoutForm.astro"; */
---

<Layout
  title="Checkout"
  description="Checkout page. Nothing to see here"
  showCart={false}
>
  <Section>
    <div class="grid gap-16 py-16 sm:grid-cols-2 md:grid-cols-[2fr_1fr]">
      <div>
        <h1 class="mb-12 text-3xl font-medium tracking-tighter">
          Realizar Pedido
        </h1>
        <CartList client:only />
      </div>
      <CheckoutForm client:load />
    </div>
  </Section>
</Layout>
