---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
---

<Layout title="Development" description="Development page">
  <Section>
    <h1>Hello from the development page!</h1>
  </Section>
</Layout>

<script>
  import { actions } from "astro:actions";

  const sendEmail = async () => {
    const { data, error } = await actions.emails.send();
    if (error) console.error(error);
    console.log(data);
  };

  sendEmail();
</script>
