---
// Component Imports
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import PastelCard from "@components/PastelCard.astro";
import ProductCard from "@/components/ProductCard.astro";
import Button from "@components/ui/Button.astro";
import { Image } from "astro:assets";

// Asset imports
import hero from "@assets/hero_black.png";

import { db, eq, Pasteles, Productos } from "astro:db";

const pasteles = await db
  .select()
  .from(Pasteles)
  .where(eq(Pasteles.archived, false));

const roscas = await db
  .select()
  .from(Productos)
  .where(eq(Productos.categoria, "roscas"));
---

<Layout
  title="La Postre Shop"
  description="Ordena un pastel y recogelo en tu sucursal de La Postre de preferencia."
>
  <header
    class="flex max-h-[90vh] flex-col items-center overflow-clip bg-gradient-to-b from-dark to-dark-3 pt-16 ~px-4/16"
  >
    <div class="mb-8 flex max-w-[40rem] flex-col items-center text-center">
      <h1 class="mb-2 text-balance font-medium tracking-tighter ~text-4xl/5xl">
        Simply The Best
      </h1>
      <p
        class="mb-8 max-w-prose text-base font-light leading-relaxed text-light/60"
      >
        Realiza un pedido de tus pasteles favoritos y recógelo en tu sucursal de
        preferencia.
      </p>
      <Button href="/#pasteles">Ver Pasteles</Button>
    </div>
    <Image
      src={hero}
      alt="Hero image"
      class="w-[110%] max-w-7xl object-cover object-top"
    />
  </header>

  <!-- Sección de roscas -->
  <Section>
    <h2
      class="mt-8 inline-block rounded-r-full border border-white/50 bg-white/5 px-4 py-1 text-xl font-medium"
    >
      Roscas de Reyes
    </h2>
    <ul
      id="pasteles"
      class="mt-8 grid grid-cols-2 gap-4 sm:grid-cols-[repeat(auto-fill,minmax(240px,1fr))]"
    >
      {roscas?.map((rosca: any) => <ProductCard producto={rosca} />)}
    </ul>
  </Section>

  <Section>
    <h2
      class="mt-8 inline-block rounded-r-full border border-white/50 bg-white/5 px-4 py-1 text-xl font-medium"
    >
      Pasteles
    </h2>
    <ul
      id="pasteles"
      class="mt-8 grid grid-cols-2 gap-4 sm:grid-cols-[repeat(auto-fill,minmax(240px,1fr))]"
    >
      {pasteles?.map((pastel: any) => <PastelCard pastel={pastel} />)}
    </ul>
  </Section>
</Layout>
