---
export const prerender = false;

const session = Astro.locals.session;
const user = Astro.locals.user;

if (session !== null) {
  if (user?.admin) {
    return Astro.redirect("/dashboard");
  } else {
    return Astro.redirect("/");
  }
}

import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";

import LoginForm from "@/components/users/LoginForm";
---

<Layout
  title="Iniciar Sesión"
  description="Inicia sesión en tu una cuenta en La Postre Shop"
>
  <Section>
    <LoginForm client:load />
  </Section>
</Layout>
