---
import { Icon } from "astro-icon/components";
import Button from "@components/ui/Button.astro";
import CartList from "@/components/cart/CartList";
---

<dialog
  id="cart-dialog"
  class="fixed bottom-0 right-0 top-0 my-0 ml-auto mr-0 min-h-screen min-w-80 border-l border-light border-opacity-25 bg-dark-2 bg-none py-0 text-light backdrop:bg-dark-2 backdrop:bg-opacity-50"
>
  <div class="relative h-screen w-full px-8 py-16">
    <h3 class="mb-4 font-medium tracking-tighter ~text-xl/2xl">Carrito</h3>
    <Icon
      name="close"
      class="absolute right-8 top-16 size-6 cursor-pointer opacity-15 hover:opacity-100"
      id="close-cart"
    />
    <CartList client:only />
    <Button id="cart-to-checkout" href="/checkout" intent="cart"
      >Realizar Pedido</Button
    >
  </div>
</dialog>

<script>
  import { cartOpen } from "@/store";
  import { cartItems } from "@/store";

  const cartToCheckout = document.getElementById(
    "cart-to-checkout",
  ) as HTMLButtonElement;

  cartItems.subscribe((items) => {
    if (Object.keys(items).length > 0) {
      cartToCheckout.classList.remove("hidden");
    } else {
      cartToCheckout.classList.add("hidden");
    }
  });

  // Get the dialog
  const cartDialog = document.getElementById(
    "cart-dialog",
  ) as HTMLDialogElement;

  // Get the close button
  const closeIcon = document.getElementById("close-cart") as HTMLButtonElement;

  // Listen to changes in the store, and show/hide the dialog accordingly
  cartOpen.subscribe((open) => {
    if (open) {
      cartDialog?.showModal();
    } else {
      cartDialog.close();
    }
  });

  // Close the dialog
  function closeCartDialog() {
    cartOpen.set(false);
    document.body.classList.remove("overflow-hidden");
  }

  // Close the dialog if the user clicks outside of it
  cartDialog?.addEventListener(
    "click",
    (e) => e.target === e.currentTarget && closeCartDialog(),
  );

  // Close the dialog if the user clicks on the close button
  closeIcon?.addEventListener("click", closeCartDialog);
</script>
