---
import { Icon } from "astro-icon/components";
import Button from "@ui/Button.astro";
/* import CartIndicator from "@components/react/CartIndicator"; */

interface Props {
  showCart: boolean;
}

const { showCart } = Astro.props;
---

<nav class="border-light sticky top-0 z-40 border-b border-opacity-25 bg-black">
  <div
    class="~px-4/16 mx-auto flex max-w-7xl items-center justify-between gap-4 py-8"
  >
    <a href="/" class="~text-lg/2xl font-medium"><Icon name="logo" /></a>
    {
      showCart && (
        <Button icon="cart" id="nav-to-cart">
          Carrito
          {/*           <CartIndicator client:load /> */}
        </Button>
      )
    }
  </div>
</nav>

<!-- <script>
  import { toggleCartDialog } from "@/lib/utils/dialogs";
  const cartButton = document.getElementById("nav-to-cart");

  cartButton?.addEventListener("click", () => {
    toggleCartDialog();
  });
</script> -->
<script>
  import { cartOpen } from "@/store";

  // Set the store to true when the button is clicked
  function openDialog() {
    cartOpen.set(true);
  }

  // Add an event listener to the button
  const cartButton = document.getElementById(
    "nav-to-cart",
  ) as HTMLButtonElement;

  cartButton?.addEventListener("click", openDialog);
</script>
