---
import { Icon } from "astro-icon/components";
import Button from "@ui/Button.astro";
import CartIndicator from "@/components/cart/CartIndicator";

interface Props {
  showCart: boolean;
  sessionControls?: boolean;
}

const { showCart, sessionControls } = Astro.props;
---

<nav class="sticky top-0 z-40 border-b border-light border-opacity-25 bg-black">
  <div
    class="mx-auto flex max-w-7xl items-center justify-between gap-4 py-6 ~px-4/16 md:py-8"
  >
    <a
      href="/"
      class="font-medium ~text-lg/2xl"
      aria-label="Ir a la página principal"><Icon name="logo" /></a
    >
    {
      showCart && (
        <Button icon="cart" intent="secondary" size="zero" id="nav-to-cart">
          <CartIndicator client:load />
        </Button>
      )
    }
    {
      sessionControls && (
        <Button intent="secondary" size="zero" id="session-controls">
          Cerrar Sesión
        </Button>
      )
    }
  </div>
</nav>

<script>
  import { cartOpen } from "@/store";
  import { actions } from "astro:actions";

  // Set the store to true when the button is clicked
  function openDialog() {
    document.body.classList.add("overflow-hidden");
    cartOpen.set(true);
  }

  // Add an event listener to the button
  const cartButton = document.getElementById(
    "nav-to-cart",
  ) as HTMLButtonElement;

  cartButton?.addEventListener("click", openDialog);

  const sessionButton = document.getElementById(
    "session-controls",
  ) as HTMLButtonElement;

  const cookies = document.cookie.split("; ");
  const session = cookies.find((row) => row.startsWith("session="));

  const sessionCookie = session?.split("=")[1];

  sessionButton?.addEventListener("click", async () => {
    console.log("Clicked Session Control");
    if (sessionCookie) {
      const { data, error } = await actions.users.cerrarSesion({
        session: sessionCookie,
      });

      if (error) alert(error.message);

      if (data) {
        document.location.href = data.url;
      }
    }
  });
</script>
