---
type Props = {
  tag?: "section" | "header";
  width?: "full" | "narrow";
};

const { tag = "section", width = "narrow" } = Astro.props;
---

{
  tag === "header" ? (
<header class=`${width === "full" ? "" : "max-w-7xl mx-auto"} ~px-4/16 py-4`>
      <slot />
    </header>
  ) : (
    <section class=`${width === "full" ? "" : "max-w-7xl mx-auto"} ~px-4/16 py-4`>
      <slot />
    </section>
  )
}
